# .prettierignore
.next/
dist/
node_modules/
coverage/
build/
public/
.env
.env*.local
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.bak
# Next.js specific
next-env.d.ts